

.pageFooter {
	margin-top: $baseMargin * 2;
	margin-bottom: $baseMargin;

	&__disclaimer {
		border-top: 1px dashed;
		font-size: .66667rem;
		text-align: center;
		line-height: 2;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(medium) {
	.pageFooter {
		margin-top: $baseMargin * 3;
		margin-bottom: $baseMargin * 2;
	}
}

@include respond-to(large) {
	.pageFooter {
		margin-top: $baseMargin * 5;
		margin-bottom: $baseMargin * 3;

		&__disclaimer {
			font-size: .75rem;
		}
	}
}
