

.pageFooter {
	width: 45vw;
	margin: 1.5rem auto 0;
	border-top: 1px dashed;
	font-size: .66667rem;
	text-align: center;
	line-height: 3rem;
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(medium) {
	.pageFooter {
		margin-top: 3rem;
		margin-bottom: 1.5rem;
	}
}

@include respond-to(large) {
	.pageFooter {
		margin-top: 4.5rem;
		margin-bottom: 1.5rem;
		font-size: .75rem;
	}
}
