

.pageHeader {
	position: fixed;
	top: 7.5vh;
	left: 0;
	z-index: 100;
	width: 100%;
}

.logo {
	width: calc(100% / #{$cellCount} + #{$basePadding});
	min-width: 46px;
	margin-left: -1 * $basePadding;
	text-align: center;
	background: $c-main;
	border-radius: $border-radius $border-radius 0 0;
	transform-origin: bottom left;
	transform: rotate(90deg)
						 translateX(-50%);


	&__text {
		color: $c-white;
		font-size: .75rem;
		font-weight: 800;
		line-height: 3;
		letter-spacing: -.05em;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES
@include respond-to(small, tall) {
	.pageHeader {
		top: 12.5vh;
	}
}

@include respond-to(small) {
	.logo {
		width: calc(100% / #{$cellCount} + #{$basePadding});
		margin-left: -1 * $basePadding;
		padding-right: $basePadding;
		text-align: right;
		border-radius: 0 $border-radius $border-radius 0;
		transform: rotate(0)
							 translateX(0);
	}
}


@include respond-to(medium) {
	.pageHeader {
		top: 12.5vh;
		left: 0;
	}

	.logo {
		width: calc(100% / #{$cellCount} + (2 * #{$basePadding}));
		margin-left: -2 * $basePadding;
	}
}

@include respond-to(xmedium, tall) {
	.logo__text {
		font-size: 1rem;
  }
}

@include respond-to(large, medium) {
	.logo {
		// padding-left: 3em;
		// padding-right: 1.5em;
	}

	.logo__text {
		font-size: 1rem;
	}
}
