

.pageHeader {
	position: absolute;
	top: 7.5vh;
	left: 0;
}

.logo {
	@include bgEffect($c-main, 7.5%, -135deg);
	padding-right: .75em;
	padding-left: .75em;
	text-align: center;
	border-radius: $border-radius $border-radius 0 0;
	transform-origin: bottom left;
	transform: rotate(90deg)
						 translateX(-50%);


	&__text {
		color: $c-white;
		font-size: .75rem;
		font-weight: 800;
		line-height: 3em;
		letter-spacing: -.05em;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES
@include respond-to(small, tall) {
	.pageHeader {
		top: 12.5vh;
	}
}

@include respond-to(small) {
	.logo {
		@include bgEffect();
		border-radius: 0 $border-radius $border-radius 0;
		transform: rotate(0)
							 translateX(0);
	}
}


@include respond-to(medium) {
	.pageHeader {
		top: 12.5vh;
	}

	.logo {
		padding-left: 1.5em;
	}
}

@include respond-to(xmedium, tall) {
	.logo__text {
		font-size: 1rem;
  }
}

@include respond-to(large, medium) {
	.logo {
		padding-left: 3em;
		padding-right: 1.5em;
	}

	.logo__text {
		font-size: 1rem;
	}
}
