

.pageHeader {
	position: absolute;
	top: 1.5rem;
	left: 0;
}

.logo {
	border-radius: 0 $border-radius $border-radius 0;
	@include bgEffect();

	&__text {
	padding-right: .75em;
	padding-left: 1.5em;
	color: $c-white;
	font-size: .75rem;
	font-weight: 800;
	line-height: 3em;
	letter-spacing: -.05em;
	text-align: right;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(xsmall) {
	.logo__text {
		font-size: 1rem;
	}
}

@media screen and (min-height: 640px) {
	.pageHeader {
		top: 3rem;
	}
}

@media screen and (min-height: 800px) {
	.pageHeader {
		top: 4.5rem;
	}
}

@include respond-to(xlarge) {
	.logo__text {
		font-size: 1.25rem;
	}
}
