

.intro {
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;

  & p {
    margin-bottom: 1em;
  }
}


//------------------------------------------------------------------------------
//MEDIA QUERIES

@include respond-to(xsmall) {

}

@include respond-to(small) {

}

@include respond-to(medium) {

}

@include respond-to(xmedium) {

}

@include respond-to(xmedium, tall) {
  .intro {
    font-size: 1.25rem;
  }
}

@include respond-to(large, medium) {
  .intro {
    font-size: 1.25rem;
  }
}

@include respond-to(xlarge, xtall) {
  .intro {
    font-size: 1.5rem;
  }
}
