

.intro {
  min-height: calc(100vh - (2 * #{$baseMargin}));
  font-size: 1rem;

  &:not(:last-child) {
    margin-bottom: $baseMargin;
  }

  &__part {
    padding-top: $basePadding * 2;
    padding-bottom: $basePadding * 2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: calc((100% / #{$cellCount}) / 2 + #{$baseMargin});
      height: .1rem;
      background: $c-main;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  & p {
    margin-bottom: 1em;
  }
}


//------------------------------------------------------------------------------
//MEDIA QUERIES
@include respond-to(small) {
  .intro {
    font-size: 1.25rem;
  }

  .intro__part::before {
    height: .125rem;
  }
}

@include respond-to(medium) {
  .intro__part::before {
    width: calc((100% / #{$cellCount}) / 2 + (2* #{$baseMargin}));
  }
}

@include respond-to(medium, tall) {
  .intro {
    font-size: 1.5rem;
  }
}

@include respond-to(large, medium) {
  .intro {
    font-size: 1.75rem;
  }

  .intro__part::before {
    height: .2rem;
  }
}

@include respond-to(xlarge, xtall) {
  .intro {
    font-size: 2rem;
  }
}
