

.teaser {
	@include bgEffect($c-main, 5%);
	margin-top: $baseMargin * 3;
	margin-bottom: $baseMargin * 3;
	padding: $basePadding * 2;
	color: $c-white;
	font-family: "Anonymous Pro", monospace;
	text-align: center;
	border-radius: $border-radius;

	&__info {
		margin-top: 1.5em;
		font-size: .75em;
	}

	a {
		color: $c-highlight--light;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(medium) {
	.teaser {
		margin-bottom: $baseMargin * 4;
	}
}

@include respond-to(large, medium) {
	.teaser {
		margin-bottom: $baseMargin * 6;
		font-size: 1.25rem;
	}
}
