

.teaser {
	margin: 3rem auto;
	padding: 1.5rem;
	width: 62.5%;
	color: $c-white;
	font-family: "Anonymous Pro", monospace;
	text-align: center;
	border-radius: $border-radius;
	@include bgEffect($c-main, 5%);

	&__info {
		margin-top: .75rem;
		font-size: .75em;
	}

	a {
		color: $c-highlight--light;
	}
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(medium) {
	.teaser {
		width: 50%;
		margin-bottom: 4.5rem;
	}
}

@include respond-to(large, 36rem) {
	.teaser {
		margin-bottom: 6rem;
		font-size: 1.25rem;
	}
}
