

.teaser {
	margin: 4.5rem auto;
	padding: 1.5rem;
	width: 62.5%;
	color: $c-white;
	font-family: "Anonymous Pro", monospace;
	text-align: center;
	border-radius: $border-radius;
	@include bgEffect($c-main, 2.5%);
	// background: $c-main;

	&__title {
		font-size: 1.25rem;
		margin-bottom: .75rem;
	}

	&__info {
		font-size: 1rem;
	}

	a {
		color: $c-highlight--light;
	}
}
