

<div class="intro">
  <div class="intro__welcome">
	<p>
	  Well, hello there.
	</p>

    <p>
	  I’m Dom, a digital product designer living and working in nuremberg, germany.
    </p>

    <p>
	  I love to create products that help people getting stuff done.
    </p>

    <p>
	  You can read a bit more <a href="/about/">about me and my way to work</a>, or have a look at some of my work on <a href="http://codepen.io/DomST/">Codepen</a> or <a href="https://github.com/DomSt">GitHub</a>.
    </p>
  </div>

  	<p>
      If there any questions left, or you just want to say hello, contact me on <a href="https://twitter.com/DStoecklein">Twitter</a> or send me an <a href="mailto:dominik.stoecklein@gmail.com">email</a>.
    </p>

    <p>
      I’d love to hear from you.
    </p>
  </div>
</div>
