

<section class="intro group group--middle">
  <div class="intro__part
    cell-9 cell--offset-2
    cell-sm-7
    cell-md-6
    cell-lg-5">
  	<p>
  	  Well, hello there.
  	</p>
    <p>
	     My name is Dom.
    </p>
    <p>
      I'm a digital product designer from nuremberg, germany.
    </p>
  </div>
</section>

<section class="intro group group--middle">
  <div class="intro__part
    cell-9 cell--offset-2
    cell-sm-7
    cell-md-6
    cell-lg-5">
    <p>
	     I love to create products that help people getting stuff done.
    </p>
    <p>
	     You can <a href="/about/">read a bit more about me</a>,
       or have a look at some of my work on <a href="http://codepen.io/DomST/">Codepen</a>
       or <a href="https://github.com/DomSt">GitHub</a>.
    </p>
  </div>
</section>

<section class="intro group group--middle">
  <div class="intro__part
    cell-9 cell--offset-2
    cell-sm-7
    cell-md-6
    cell-lg-5">
  	<p>
      Want to say hello? Contact me on <a href="https://twitter.com/DStoecklein">
        Twitter</a> or send me an <a href="mailto:dominik.stoecklein@gmail.com">email</a>.
    </p>
    <p>
      I’d love to hear from you.
    </p>
  </div>
</section>
