

<div class="intro group">
  <div class="intro__welcome cell-7 cell--offset-2">
  	<p>
  	  Well, hello there.
  	</p>

    <p>
	  I’m Dom, a digital product designer.
    </p>

    <p>
	  I love to create products that help people getting stuff done.
    </p>

    <p>
	  <a href="/about/">Read a bit more about me</a>, or have a look at some of my work on <a href="http://codepen.io/DomST/">Codepen</a> or <a href="https://github.com/DomSt">GitHub</a>.
    </p>
  </div>

  <div class="intro__contact cell-7 cell--offset-2">
  	<p>
      Want to say hello? Contact me on <a href="https://twitter.com/DStoecklein">Twitter</a> or send me an <a href="mailto:dominik.stoecklein@gmail.com">email</a>.
    </p>

    <p>
      I’d love to hear from you.
    </p>
  </div>
</div>
