<!DOCTYPE html>


<html>

  {% include globals/head.html %}

  <body>

    <div class="l-pageWrapper">

      <!-- Grid System Test -->
      <div class="gridSystemTest frame">
        <div class="gridSystemTest__group group">
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
          <div class="gridSystemTest__cell cell-1"></div>
        </div>
      </div>
      <!-- END Grid System Test -->


      {% include globals/header.html %}

      <div class="l-pageContent">
        {{ content }}
      </div>

      {% include globals/footer.html %}

    </div>

  </body>

</html>
