

.l-pageWrapper {
	display: flex;
	flex-direction: column;
	margin: .75rem;
	min-height: calc(100vh - 1.5rem);
	border-radius: $border-radius;
	background: $c-white;
}

.l-pageContent {
	flex: 1;
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(xmedium, 36rem) {
	.l-pageWrapper {
		margin: 1.5rem;
	}
}
