

.pageWrapper {
	position: relative;
	min-height: calc(100vh - #{$baseMargin});
	margin: $baseMargin;
	border-radius: $border-radius;
}

.pageContent {
	background: $c-white;
	margin-bottom: 7rem;
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(medium) {
	.pageWrapper {
		margin: $baseMargin * 2;
	}

	.pageContent {
		margin-bottom: 9rem;
	}
}

@include respond-to(xmedium, medium) {
	.pageWrapper {
		min-height: calc(100vh - (#{$baseMargin} * 2));
	}
}

@include respond-to(large) {
	.pageContent {
		margin-bottom: 12rem;
	}
}
