

.pageWrapper {
	position: relative;
	min-height: calc(100vh - $baseMargin);
	margin: $baseMargin;
	border-radius: $border-radius;

	@include respond-to("medium") {
    margin: $baseMargin * 2;
  }
}

.pageContent {
	background: $c-white;
}


//------------------------------------------------------------------------------
// MEDIA QUERIES

@include respond-to(xmedium, medium) {
	.pageWrapper {
		min-height: calc(100vh - ($baseMargin * 2));
	}
}
