

.icon {
	margin-right: .15em;
	margin-left: .15em;
}

.icon > svg {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	vertical-align: middle;
}

svg path {
	fill: currentcolor;
}