

//------------------------------------------------------------------------------
// Media Queries
@mixin respond-to($breakpoint, $height: 28rem) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media screen and (min-width: $value) and (min-height: $height) {
      @content;
    }
  } @else {
    @warn "No value retrieved from `#{$breakpoint}`. "
        + "Please use values defined in `$breakpoints` map.";
  }
}


//------------------------------------------------------------------------------
// Background
@mixin bgEffect($color: $c-main, $lighten: 5%, $angle: -45deg) {
  background: $color;
  background: linear-gradient($angle, lighten($color, $lighten) 50%, $color 50%);
}
