

//------------------------------------------------------------------------------
// Media Queries
@mixin respond-to($h-breakpoint, $v-breakpoint: low) {
  $h-value: map-get($h-breakpoints, $h-breakpoint);
  $v-value: map-get($v-breakpoints, $v-breakpoint);

  @if $h-value != null {
    @media screen and (min-width: $h-value) and (min-height: $v-value) {
      @content;
    }
  } @else {
    @warn "No value retrieved from `#{$h-breakpoint}`. "
        + "Please use values defined in `$breakpoints` map.";
  }
}


//------------------------------------------------------------------------------
// Background
@mixin bgEffect($color: $c-main, $lighten: 7.5%, $angle: -45deg) {
  background: $color;
  background: linear-gradient($angle, lighten($color, $lighten) 50%, $color 50%);
}
