

//------------------------------------------------------------------------------
// Color Variables

$c-light-grey: #f0f0f5;
$c-main: #000038;
$c-highlight: #0000ff;
$c-highlight--light: #c0c0ff;
$c-white: #ffffff;


//------------------------------------------------------------------------------
// Size & Length Variables
$border-radius: 2px;


//------------------------------------------------------------------------------
// Media Querie Breakpoints   368px | 464px | 640px | 896px | 1152px
$breakpoints: (
  "xsmall"  : 23rem,
  "small"   : 29rem,
  "medium"  : 40rem,
  "large"   : 56rem,
  "xlarge"  : 72rem
);
