

//------------------------------------------------------------------------------
// Color Variables

$c-light-grey: #f0f0f5;
$c-main: #000038;
$c-highlight: #0000ff;
$c-highlight--light: #c0c0ff;
$c-white: #ffffff;


//------------------------------------------------------------------------------
// Size & Length Variables
$border-radius: 3px;


//------------------------------------------------------------------------------
// Media Querie Breakpoints   468px | 630px | 900px | 1170px
$breakpoints: (
  "small"   : 26rem,
  "medium"  : 35rem,
  "large"   : 50rem,
  "xlarge"  : 65rem
);
